.git
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
build
backend
android
ios
windows
linux
macos
test
*.iml
.idea
.vscode
.metadata
analysis_options.yaml
pubspec.lock
render.yaml
Dockerfile*
backend/target
uploads
