spring:
  datasource:
    # H2 Database (Commented out)
    # url: jdbc:h2:mem:health_office;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    # username: sa
    # password: password
    # driver-class-name: org.h2.Driver
    
    # PostgreSQL Configuration (Active)
    # Using Render External Database
    url: jdbc:postgresql://dpg-d68do8er433s73cingc0-a.frankfurt-postgres.render.com:5432/health_office_db
    username: health_office_db_user
    password: uiGXHVr4K5CCDWrb8Nn8uvx4Emj6gVq0
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true
  jackson:
    time-zone: UTC
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    ye.gov.sanaa.healthoffice: DEBUG

jwt:
  secret: "change-this-secret-in-production-very-strong-and-long"
  access-token-validity-seconds: 900      # 15 minutes
  refresh-token-validity-seconds: 1209600 # 14 days

management:
  endpoints:
    web:
      exposure:
        include: health,info

