spring:
  main:
    banner-mode: off
  datasource:
    # We manually build the JDBC URL using our custom variable to ensure the jdbc: prefix is present
    url: jdbc:${INTERNAL_DB_CONNECTION_STRING}
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    ye.gov.sanaa.healthoffice: INFO
