spring:
  main:
    banner-mode: off
  datasource:
    # This will now pick up our corrected SPRING_DATASOURCE_URL from the environment
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    ye.gov.sanaa.healthoffice: INFO
