spring:
  main:
    banner-mode: off
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false
  sql:
    init:
      mode: always

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    ye.gov.sanaa.healthoffice: INFO
